In [1]:
import pandas as pd
data = [{"brand":"TATA", "mileage":20}, {"brand":"TATA", "mileage":30}]
df = pd.DataFrame(data)
print(df)

  brand  mileage
0  TATA       20
1  TATA       30

In [2]:
import pandas as pd
data = [{"brand":"TATA", "mileage":[20,30]}]
df = pd.DataFrame(data)
print(df)

  brand   mileage
0  TATA  [20, 30]