In [1]:
class Employee:
    def __init__(self, emp_id,name,department_id):
        self.name=name
        self.emp_id=emp_id
        self.dept_id=department_id
e1=Employee(name="sam",emp_id=1,department_id=1)
e2=Employee(name="jay",emp_id=2,department_id=1)
print(e1)
print(e2)
print(e1==e2)

<__main__.Employee object at 0x000001E4B83BAB10>
<__main__.Employee object at 0x000001E4B83BAB90>
False

In [5]:
class Employee:
    def __init__(self, emp_id,name,department_id):
        self.name=name
        self.emp_id=emp_id
        self.department_id=department_id
    def __repr__(self):
        return f"Employee(name={self.name},emp_id={self.emp_id},department_id={self.department_id})"
    
e1=Employee(name="sam",emp_id=1,department_id=1)
e2=Employee(name="jay",emp_id=2,department_id=1)
print(e1)
print(e2)
print(e1==e2)

Employee(name=sam,emp_id=1,department_id=1)
Employee(name=jay,emp_id=2,department_id=1)
False

In [6]:
class Employee:
    def __init__(self, emp_id,name,department_id):
        self.name=name
        self.emp_id=emp_id
        self.department_id=department_id
    def __repr__(self):
        return f"Employee(name={self.name},emp_id={self.emp_id},department_id={self.department_id})"
    
e1=Employee(name="sam",emp_id=1,department_id=1)
e2=Employee(name="sam",emp_id=1,department_id=1)
print(e1)
print(e2)
print(e1==e2)

Employee(name=sam,emp_id=1,department_id=1)
Employee(name=sam,emp_id=1,department_id=1)
False

In [7]:
d1={"name":"jay"}
d2={"name":"jay"}
print(d1==d2)
print(d1 is d2)

True
False

In [8]:
class Employee:
    def __init__(self, emp_id,name,department_id):
        self.name=name
        self.emp_id=emp_id
        self.department_id=department_id
    def __repr__(self):
        return f"Employee(name='{self.name}',emp_id='{self.emp_id}',department_id='{self.department_id}')"
    def __eq__(self, other):
        return all([self.name==other.name, self.emp_id==other.emp_id, self.department_id==other.department_id])
    
e1=Employee(name="sam",emp_id=1,department_id=1)
e2=Employee(name="sam",emp_id=1,department_id=1)
print(e1)
print(e2)
print(e1==e2)

Employee(name=sam,emp_id=1,department_id=1)
Employee(name=sam,emp_id=1,department_id=1)
True

In [9]:
from dataclasses import dataclass
@dataclass
class Employee:
    name: str
    emp_id: int
    department_id: int
e1=Employee(name="sam",emp_id=1,department_id=1)
e2=Employee(name="sam",emp_id=1,department_id=1)
print(e1)
print(e2)
print(e1==e2)

Employee(name='sam', emp_id=1, department_id=1)
Employee(name='sam', emp_id=1, department_id=1)
True

In [11]:
class Employee:
    def __init__(self, emp_id,name,department_id):
        self.name=name
        self.emp_id=emp_id
        self.department_id=department_id
    def __repr__(self):
        return f"Employee(name='{self.name}',emp_id='{self.emp_id}',department_id='{self.department_id}')"
    def __eq__(self, other):
        return all([self.name==other.name, self.emp_id==other.emp_id, self.department_id==other.department_id])
    
e1=Employee(name="sam",emp_id=1,department_id=1)
e1.name="sam1"
print(e1)

Employee(name='sam1',emp_id='1',department_id='1')

In [12]:
t=(1,2,3,4)
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [13]:
from dataclasses import dataclass
@dataclass
class Employee:
    name: str
    emp_id: int
    department_id: int
e1=Employee(name="sam",emp_id=1,department_id=1)
e2=Employee(name="sam",emp_id=1,department_id=1)
print(e1)
print(e2)
print(e1==e2)
e1.name="sam1"
print(e1)

Employee(name='sam', emp_id=1, department_id=1)
Employee(name='sam', emp_id=1, department_id=1)
True
Employee(name='sam1', emp_id=1, department_id=1)

In [15]:
from dataclasses import dataclass
@dataclass(frozen=True)
class Employee:
    name: str
    emp_id: int
    department_id: int
e1=Employee(name="sam",emp_id=1,department_id=1)
e2=Employee(name="sam",emp_id=1,department_id=1)
print(e1)
print(e2)
print(e1==e2)
e1.name="sam1"
print(e1)

Employee(name='sam', emp_id=1, department_id=1)
Employee(name='sam', emp_id=1, department_id=1)
True

FrozenInstanceError: cannot assign to field 'name'